html{
   box-sizing: border-box;
}

body{
   background-color: #c9c9c9;
}

header{
   background-color:green;
}

<<<<<<< HEAD
footer{
		background-color: blue;
=======
section{
   background-color: yellow;
>>>>>>> ef0cd03175b29a75685b45e1ecea6819d8094c3b
}